.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-content {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

h2 {
  padding-top: 20px;
}

.card {
  width: 600px;
  margin-bottom: 20px;
}

.btn {
  margin-top: 5px;
  margin-bottom: 15px;
}

.card-title {
  font-weight: bold;
}

code {
  color: #ffffff !important;
}